
<ion-view view-title="Today's Menu">
	<ion-content scroll='true' has-bouncing='true'>
		<ion-refresher
  pulling-text="Refresh"
  on-refresh="doRefresh()">
</ion-refresher>

		<div ng-show="empty" class="card">
  		<div class="item item-text-wrap">
    		No meals found
  		</div>
		</div>


		<div ng-repeat="meal in meals" class="list card">
			<div class="item item-avatar">
				<img src="img/husky.jpg">
				<h2>{{meal.title}}</h2>
				<h4>{{meal.date}}</h4>
			</div>
			<div ng-if="meal.description" class="item item-body">
				<p>{{meal.description}}</p>
			</div>
		</div>
	</ion-content>
</ion-view>
