<ion-view view-title="Suggestions">
	<ion-content class="contact">
		<h2 class="heading">Husky Chow</h2>
		<p class="subheading">Have any suggestions or thoughts on how we can make Husky Chow better?</p>
		<p class="subheading">Please contact us and let us know!</p>
    <ion-list>
    <br/>
    <h3 class="form-header">Contact Info</h3>
      <ion-item>
       <input id="name" placeholder="Name" type="text"></input>
      </ion-item>

      <ion-item>
       <input id="phone_number" placeholder="Phone Number" type="tel"></input>
      </ion-item>

      <ion-item>
       <input id= "email" placeholder="Email" type="email"></input>
      </ion-item>

    <h3 class="form-header">Ratings and Suggestions</h3>
      <ion-label fixed>User Experience</ion-label>
      <div class="range">
        <i class="icon ion-sad-outline"></i>
        <input id="user_experience" type="range" name="UX" min="1" max="5" value="3" step="1">
        <i class="icon ion-happy-outline"></i>
      </div>

      <ion-label fixed>Aesthetics</ion-label>
      <div class="range">
        <i class="icon ion-trash-a"></i>
        <input id="aesthetics" type="range" name="UX" min="1" max="5" value="3" step="1">
        <i class="icon ion-ios-rose"></i>
      </div>

      <ion-item>
       <input id="device" placeholder="Device/Model" type="text"></input>
      </ion-item>
      <br/>
			<ion-item>
			 <input id="compatibility" placeholder="Was this app compatible with above device?" type="text"></input>
			</ion-item>

      <br/>
      <ion-item>
       <input id="comments" placeholder="Other Comments/Suggestions" type="text"></input>
      </ion-item>

      <button ng-click="submitForm()" class="button button-full button-energized">Submit</button>


   </ion-list>
		</ion-content>
</ion-view>
