page-about {
  // enlarges text
  p {
    font-size: 2rem;
  }
  //Made Octocat image a bit smaller than default
  .octocat {
    display: block;
    height: auto;
    margin: 0 auto 0 auto;
    width: 50vw;
  }

  .spacer {
    height: 20px;
  }


}
