<ion-header>
  <ion-navbar color="husky">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ name }}</ion-title>
  </ion-navbar>
</ion-header>

//Page Content
<ion-content padding id="page5">
  <h2 class="center">Select the day that you would like to view.</h2>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-auto>
        <div class="monthName">{{displayMonth}} {{ displayYear }}</div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="center calendar-header-col" *ngFor="let head of weekHead">{{head}}</ion-col>
    </ion-row>

    <ion-row class="calendar-row" *ngFor="let week of weekArray;let i = index">
      <ion-col class="center calendar-col" (click)="daySelect(day,i,j)" *ngFor="let day of week;let j = index" [ngClass]="[day.isThisMonth?'this-month':'not-this-month',day.isToday?'today':'',day.isSelect?'select':'']">
        {{day.date}}
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
