page-daily {
  .meal {
    font-size: 3.5rem;
  }

  .time {
    font-size: 2.25rem;
  }

  .divider {
    margin: 0; padding: 0;
  }

  .items {
    margin: 0; padding: 0 16px;
    li {
      font-size: 1.75rem;
    }
  }

  .card-header-md, .card-content-ios {
    padding: 16px 16px 8px 16px!important;
  }

  .card-content-md, .card-content-ios {
    padding: 8px 16px !important;
  }
}
