.item-body p {
	margin-top: 0;
}

.item-avatar {
	padding-left: 20px;
}

.item h2 {
	overflow: hidden;
	white-space: normal;
}

.feedback-text {
		text-align:center;
		font-size: 1.25rem;
		line-height: 1.5rem;
}

.feedback-button {
margin-top: 30px !important;
}

.about, .thanks-modal {
	padding: 20px;
}

.about .heading, .contact .heading {
	text-align: center;
	margin-bottom: 20px;
}

.about .subheading {
	font-size: 1.25rem !important;
	line-height: 1.5rem !important;
 text-align: center;
}


.daydate {
	margin-bottom: 30px;
	font-size: 1.25rem;
	text-align: center;
}

.daydate:first-child {
	margin-top: 30px;
}

input[type="text"], input[type="tel"], input[type="email"] {
	width: 100%;
}


.about .logo {
	display: block;
  margin: 20px auto;
}

.contact {
	padding: 20px;
}

.contact .subheading {
	text-align: center;
	font-size: 1.25rem !important;
	line-height: 1.5rem !important;
}

.mealtitle {
	text-align: left;
	font-size:2.5rem !important;
}

.description {
	margin-left: 20px;
	list-style:disc;
	text-align: left;
	font-size:1.25rem !important;
	line-height:1.5rem !important;
}

.time {
	text-align: left;
	font-size:1.5rem !important;
}

.input-label{
	width: 500px;
}

textarea {
	width: 100%;
	resize: none;
}

.form-header {
	margin: 20px 0;
}

.form-pad {
	margin: 20px 0;
}
